* {
  box-sizing: border-box;
}
html,
body {
  background: #ecf0f3;
}
h1 {

  text-align: center;
  margin: 0;
  padding: 0;
}
.custom-form {
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  background: white;
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: white;
  margin-top: 200px;
}
.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  border: 0 none;
  background: wheat;
}
.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: rgb(80, 69, 69);
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
